@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans|Roboto&display=swap");

#root {
  background-color: #fcf8f8;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.App-link {
  color: #61dafb;
}

.nav-item , .nav-link {
  list-style-type: none;
  display: inline;
  margin: 5px;
  font-family: 'Josefin Sans', cursive;
}
.reel-name-header {
  font-family: 'Josefin Slab', serif;
  font-size: 3rem;
  font-weight: 800;
}
.myMoviesContainer {
  display:flex;
  justify-content: space-evenly;
  width: 90vw;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.my-reels-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 30px;
}
.myMovies {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 550px; 
  padding: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  padding: 0 10vw 0 10vw;
  margin: 3vw;
  font-family: 'Josefin Sans', cursive;
  font-size: 2em;
}
.links-container {
  display: flex;
  padding-top:20px;
}
.nothing-container {
  flex-grow: 1;
}
.nav-item {
  font-size: 20px;
  text-decoration: none;
  padding-top: 40px;
}
.title-container {
  font-family: 'Josefin Sans', cursive;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-grow: 2;
}
.title {
  text-shadow: 2px 3px darkslategrey;
}
.app-container {
  font-family: 'Josefin Sans', cursive;
  border-bottom: 2px gray solid;
  display: flex;
  flex-direction: row;
  background: rgb(246, 246, 246);
  margin-bottom: 10px;
}

.title {
 margin: 0;
}
/* .reel-image {
  width: 50%;
  height: 75%;
} */
.new-reel-form {
  background-image: url("./clapperboard.png");
  background-size: cover;
  width: 300px;
  height: 262px;
  display:flex;
  flex-direction: column;
  padding-top: 40px;
  
}
.inner-new-reel-form {
  font-family: 'Josefin Sans', cursive;
  margin-top: 95px;
  margin-left: 10px;
}
.top-of-reels {
  display: flex;
  justify-content: center;
}
.icon-holder {
  position: absolute;
  right: 15px;
}
/* .top-of-reels-info {
  width: 60%;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
} */

.login-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 50px;
}  
.login-form {
  display: flex;
  flex-direction: column;
  margin: 5px 80px;
}
.form-group {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 5px 0;
}
.inner-new-reel-form form .form-group {
  width: 255px;
  justify-content: flex-start;
}
#newReel {
  width: 120px;
}


#login {
  background-image: url("./clapperboard.png");
  background-size: cover;
  width: 500px;
  height: 400px;
  display:flex;
  flex-direction: column-reverse;
  text-align: center;
}
.login-button-container {
  width: 300px;
  padding-top: 13px;
}
.login-button {
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 2rem;
  width: 300px;
  border-radius: 9px;   
}
.login-button:hover {
  filter: brightness(120%);
  transform: scale(1.05);
}
.login-input {
  height: 30px;
  border-radius: 8px;
}
.delete-reel-button {
  font-size: 1.5rem;
  width: 30px;
  color: red;
}
.delete-reel-button:focus,
.delete-reel-button:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}
.reel-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 325px; 
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 1px 2px rgba(0, 0, 5, 0.3);
  transition: all .3s ease-in-out;
}
.reel-card:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 3px 5px rgba(0, 0, 5, 0.3);
}
.reel-card-title {
  text-decoration: underline;
  border: none;
  background-color: #f1f1f1;
  font-size: 1rem;
}
.reel-card-title:focus,
.reel-card-title:hover {
  text-decoration: underline;
  filter: brightness(120%);
  transform: scale(1.05);
}

.poster-standin {
  width: 100%;
  background-color: gray;
}
.reel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reel-container h3 {
  font-family: 'Josefin Sans', cursive;
  font-weight: 600px;
  font-size: 32px;
  text-shadow: 1px 3px rgba(0, 0, 0, .3);
}
.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
}

@media screen and (max-width:815px) {
  .app-container {
    display: flex;
    flex-direction: column
  }
  .nav-item {
    margin: 0px;
  }
  .reel-holder {
    display: none;
  }
  .title-container {
    font-size: 1rem;
    justify-content: center;
  }
  .links-container{
    justify-content: center;
    padding-top: 0px;
  }
  .links-container .links {
    padding: inherit;
  }
  .top-of-reels-info {
    display: none;
  }
}
.hidden {
  display: none;
}
