@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Josefin Sans', cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item , .nav-link {
  list-style-type: none;
  display: inline;
  margin: 5px;
  justify: right;
  font-family: 'Josefin Sans', cursive;
}

.myMoviesContainer {
  display:flex;
  flex-wrap: wrap;
}
.myMovies {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 50%;
  padding: 2%;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  padding: 0 10vw 0 10vw;
  margin: 3vw;
  font-family: 'Josefin Sans', cursive;
  font-size: 2em;
}
.links-container {
  grid-column-start: col-start 2;
  display: flex;
}
.title-container {
  grid-column-start: col-start 1;
  font-family: 'Josefin Sans', cursive;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-align: center;
}
.app-container {
  font-family: 'Josefin Sans', cursive;
  border: 2px gray solid;
  margin-top: 3px;
  display: grid;
  grid-template-columns: 25%;
  background: rgb(246, 246, 246);
}
.title {
 margin: 0;
}
.reel-image {
  width: 24%;
  height: 100%;
}
